{% extends "@FestivalCore/Layout.html.twig" %}

{% block title %} Ajouter un lieu {% endblock %}

{% block body %}

    <div class="well">
        <h2 style="text-align:center">Ajouter un Lieu</h2>

        {{ include("@FestivalLieu/Lieu/form.html.twig") }}

        <p style="text-align:center">
            <a href="{{ path('festival_lieu_listelieux') }}" class="btn btn-festival">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour aux Lieux
            </a>
        </p>
    </div>
    
{% endblock %}