{% extends "@FestivalCore/Layout.html.twig" %}

{% block body %}
        
    <div class="well-festival">
        <h2 class="title"> Liste des Groupes </h2>
        
        {% if listeGroupe != NULL %}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Nom du groupe</th>
                        <th>Responsable</th>
                        <th>Hebergement</th>
                    </tr>
                </thead>
                <tbody>
            {% for unGroupe in listeGroupe %}
                    <tr class="tr-white">
                        <th><a href="{{ path('festival_groupe_ungroup', {'id': unGroupe.id}) }}">{{ unGroupe.nom }}</a></th>
                        <td>{{ unGroupe.responsable }}</td>
                        {% if unGroupe.hebergement %}
                            <td class="glyphicon glyphicon-ok"></td>
                        {% else %}
                            <td class="glyphicon glyphicon-remove"></td>
                        {% endif %}
                    </tr>
            {% endfor %}
                </tbody>  
            </table>
        {% else %}
            <li>Pas d'utilisateur</li>
        {% endif %}
        
        <p style="text-align:center">
            <a href="{{ path('festival_groupe_ajoutgroup') }}" class="btn btn-festival">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Ajouter un Groupe
            </a>
  	</p>
                
        
    </div>

{% endblock %}